* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* color: red; */
}

.border {
    border: 1px solid red;
    
}

.panel {
    width: 100%;
    height: 100vh;
    background-image: url('./media/tiger.jpg');
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    /* justify-content: center; */
}


.nav {
    position: absolute;
    z-index: 99;

    background-color: #76745a54;
    width: 100%;
    height: 8vh;
    
    filter: drop-shadow(0px 10px 3px rgba(54, 54, 54, 0.452));
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding-left: 3rem; */
    
    padding: 0 5rem;
    
    transition: ease-in-out 0.2s;
    user-select: none;
}

.nav:hover {
    background-color: #76745A;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.nav-item {
    color: white;
    font-size: 1.3rem;
    padding: 0 1rem;
}

.nav-item:hover {
    color: #695a29;
    font-weight: bold;
}

.nav-item a:hover {
    color: #695a29;
    font-weight: bold;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

#logo {
    width: 13.5%;
    position: absolute;
    left: 125px;
    top: -30px;
}

.panel:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset 0px 0px 150px black;
}

.inner-panel>.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-panel {
    width: 100%;
    height: 90vh;
    display: flex;
    
    margin-top: 4rem;
}

.left,
.right {
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    /* color:  red; */
    background-color: rgba(255, 255, 255, .15);
    
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    padding: 2rem;
    
    width: 50%;
    margin-top: 7rem;
    /* justify-self: center; */
}

.buttons>input {
    border: 1px solid gold;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    color: white;
    text-shadow: 1px 1px 3px black;

}

#animals-button {
    background-color: goldenrod;
}

#animals-button:hover {
    transition: ease-in-out 0.2s;
    background-color: #282c28;
}

@media only screen and (max-width: 400px) {
    .inner-panel {
        width: 100%;
        height: 90vh;

        display: flex;
        flex-direction: column;

        margin-top: 4rem;
    }

    .left,
    .right {
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* ABOUT PAGE */


.main-content {
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: white;
    font-size: 2rem;
    text-align: center;
    text-shadow: 3px 3px 3px black;

    max-height: 80vh;

    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.main-content::-webkit-scrollbar {
    display: none;
}

.main-content>pre {
    color: gold;
}

/* SIGN UP / LOG IN PAGE */

#signup-overlay {
    display: none;
}

#login-overlay {
    display: flex;
    height: 40vh;
}

#account-overlay {
    height: 50vh;
}

#update-name-overlay {
    display: none;
}

#update-email-overlay {
    display: none;
}

#update-pass-overlay {
    display: none;
}

#register-new-overlay {
    display: none;
}

.form-overlay {
    box-sizing: unset;
    color: aliceblue;
    width: 50%;
    height: 70vh;
    background-color: #282c289c;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3rem;
    font-size: 1.35rem;

    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.form-overlay::-webkit-scrollbar {
    display: none;
}

.form-overlay p {
    margin-top: 1rem;
    margin-bottom: 0px;
}

.form-overlay input {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: flex;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

.signup-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-button {
    margin: 1rem 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(226, 176, 42, 0.2);
    transition: 0.4s;
    color: white;
    background-color: rgb(192, 138, 20);
}

.signup-button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(226, 176, 42, 0.6);
    background-color: rgba(226, 176, 42, 1);
}

#login-link {
    font-size: 0.9rem;
    color: rgb(226, 176, 42);

    transition: all 0.1s ease-in-out;
}

#login-link:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    font-size: 0.9rem;
    text-shadow: 0px 0px 10px orange;
}

.account-details {
    text-align: center;
    margin-bottom: 20px;
}

#changepass-container {
    margin-top: 20px;
}

#changepass-link {
    font-size: 0.9rem;
    color: rgb(213, 59, 7);
    font-weight: bold;

    transition: all 0.2s ease-in-out;
}

#changepass-link:hover {
    cursor: pointer;
    text-decoration: underline;
    text-shadow: 0px 0px 10px red;
    font-size: 1rem;
}

.edit-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    width: 30px;
    height: 2rem;
    padding: 0;
    box-shadow: 0 0 10px rgba(22, 141, 22, 0.2);
    transition: 0.4s;
    color: white;
    background-color: rgb(18, 137, 53);
}

.red-btn {
    box-shadow: 0 0 10px rgba(184, 18, 18, 0.2);
    background-color: rgb(202, 39, 17);
}

.edit-btn:hover {
    box-shadow: 0 0 15px rgba(51, 220, 14, 0.6);
    background-color: rgb(33, 194, 19);
}

.red-btn:hover {
    box-shadow: 0 0 15px rgba(255, 45, 45, 0.589);
    background-color: rgb(255, 35, 35);
}

.exception-overlay {
    box-sizing: border-box;
    color: aliceblue;
    width: 40%;
    height: 20vh;
    background-color: #282c289c;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    padding: 1rem;
    font-size: 1.35rem;
    text-align: center;
}

.exception-icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;

    color: rgb(226, 176, 42);
    text-shadow: 0px 0px 15px red;
}

.success-icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;

    color: rgb(38, 198, 27);
    text-shadow: 0px 0px 20px gold;
}

.fullname-field {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fullname-field input {
    max-width: 140px;
}

#power-field input {
    display: inline;

    max-width: 50px;
    text-align: left;
}

.user-icon {
    margin-left: 20px;   
    
    font-size: 1.5rem;
}

.user {
    color: rgb(109, 96, 74);
    text-shadow: 0 0 30px rgb(183, 153, 65);
}
.helper {
    color: rgb(52, 184, 38);
    text-shadow: 0 0 20px rgb(189, 239, 62);
}
.admin {
    color: rgb(192,138,20);
    text-shadow: 0 0 20px rgb(226, 208, 42);
}

/* Habitat Map CSS Code */

@media screen and (min-width: 1303px) {
    .imgTop {
        flex-wrap: wrap;
        margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        height: 350px;
    }

    .imgBot {
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        bottom: 40px;
    }

    .habitatMap_innerPannel {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        align-items: center;
        height: 92vh;
    }

    .habitatMap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .panelHabitatMap {
        width: 100%;
    }

    .image {
        width: 300px;
        transition: all .2s ease-in-out;
    }

    .image:hover {
        transform: scale(1.1);
    }
    .jungle-map{
        align-self: flex-end;
    }

    #waterHabitat,
    #iceHabitat {
        align-self: flex-start;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media only screen and (min-width: 855px) and (max-width: 1303px) {
    .imgTop {
        flex-wrap: wrap;
        margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .imgBot {
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        /* bottom: 40px; */
    }

    .habitatMap_innerPannel {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        align-items: center;
    }

    .habitatMap {
        display: flex;
        justify-content: center;
    }

    .panelHabitatMap {
        width: 100%;
        height: fit-content;
    }

    .image {
        width: 300px;
        transition: all .2s ease-in-out;
    }

    .image:hover {
        transform: scale(1.1);
    }
    .jungle-map{
        align-self: flex-end;
    }

    #waterHabitat,
    #iceHabitat {
        align-self: flex-start;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media screen and (max-width: 854px) {
    .imgTop {
        flex-wrap: wrap;
        margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .imgBot {
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        /* bottom: 40px; */
    }

    .habitatMap_innerPannel {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        align-items: center;
    }

    .habitatMap {
        display: flex;
        justify-content: center;
    }

    .panelHabitatMap {
        width: 100%;
        height: fit-content;
    }

    .image {
        width: 300px;
        transition: all .2s ease-in-out;
    }

    .image:hover {
        transform: scale(1.1);
    }
    .jungle-map{
        align-self: flex-end;
    }

    #waterHabitat,
    #iceHabitat {
        align-self: flex-start;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}


/* TICKET PAGE */

.ticket-card {
    width: 70%;
    height: auto;
    
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin: 20px;
}

.ticket-content {
    margin-right: .2rem;
    /* width: 55%; */
    height: auto;
    border-radius: 2rem;
    background-color: #76745ac0;
    
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    color: white;
}

.ticket-code {
    width: 10%;
    height: 35vh;
    border-radius: 2rem;
    background-color: #76745ab9;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: 500;
    padding: 1rem;
    font-size: 1.35rem;
    text-align: center;
}

.ticket-code img {
    border-radius: 1rem;
    opacity: 50%;
    display: block;
    height: 90%;
}

.ticket-form input {
    padding:10px;
    border-radius: 20px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    /* width: 150%; */
}

.ticket-text {
    height: 100%;
    color: whitesmoke;
    
    text-shadow: 3px 3px 3px black;
}

#ticket-amount {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ticket-amount div {
    display: flex;
}

#ticket-amount input {
    width: 4rem;
    max-height: 5vh;
    margin: 0 1rem;
}

.ticket-text p {
    font-size: 1.5rem;
    
}

#submit-btn {
    font-weight: bold;
    background-color: rgb(37, 159, 37);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding: .5rem 2rem;
    border: none;
    border-radius: 20px;
    
    color: white ;
    text-shadow: 3px 3px 3px black;
    font-size: 1.4rem;

    transition: 0.4s;
}

#submit-btn:hover {
    cursor: pointer;
    
    background-color: limegreen;
    box-shadow:0 0 15px 5px rgba(150, 236, 22, 0.6);
}

#ticket-button {
    background-color: #282c28;
}

#ticket-button:hover {
    transition: ease-in-out 0.1s;
    background-color: goldenrod;
}
.email-form {
    display: flex;
    align-items: center;
}

.email-form p {
    margin-right: 1rem;
}

.result-container {
    margin-top: 20vh;
    display: flex;
    /* align-items: center;
    justify-content: center; */

    flex-direction: column;
}

#results {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.animal {
    background-color: rgba(255, 140, 0, 0.493) ;
    border-radius: 2rem;
    color: antiquewhite;

    max-width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;

    padding: 1rem 2rem;
}

.animal-info {
    color: white;
    margin-top: 2rem;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}

#animal-name {
    background-color: #76745a5b;
    border: none;
    padding: .5rem;
    border-radius: 30px;

    color: wheat;
    padding-left: 1rem;
    margin-right: 1rem;
}

#search-btn {
    background-color: goldenrod;
    padding: .2rem 2rem;

    border-radius: 20px;
    border: 2px solid rgb(218, 157, 4);

    font-size: 1.5rem;
    color: aliceblue;
    text-shadow: 3px 3px 3px black;

    
}

/* Nav burger menu */

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width: 768px){
    .hamburger{
        display: block;
        /* z-index: -10; */
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-items{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #76745A;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0px;
    }

    .nav-items.active{
        left: 0;
    }

    #logo {
        display: none;
    }

    #index-left {
        width: 100%;
    }

    #index-right {
        display: none;
    }

    .ticket-code {
        display: none;
    }

    .main {
        width: 90%;
        font-size: 1rem;
    }
}

.main {
    /* color:  red; */
    background-color: rgba(255, 255, 255, .15);

    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    padding: 2rem;

    width: 50%;
    margin-top: 3rem;
    /* justify-self: center; */
}



.animals_panel {
    width: 100%;
    /* height: 100vh; */
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

/* ANIMALS PAGE CSS */
.animals-inner-panel {
    /* border-radius: 10px; */
    width: 80%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8.5rem;
}

.search-bar {
    border-bottom: 1px solid rgb(100, 99, 99);
    box-shadow: 5px 0px 8px #747974;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 10px;
}

.search-bar>* {
    margin-left: 20px;
    margin-right: 20px;
}

.admin-results {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.admin-animal {
    width: 90%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid aliceblue;
    border-radius: 10px;
    padding: 2rem 2rem;
    background-color: white;
}

.admin-animal-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-animal-left>* {
    margin-left: 1.5rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.admin-animal-left button {
    margin-left: 0.5rem;
    font-weight: bold;
}

.admin-habitat-icon {
    font-size: 1.7rem;
    background-color: rgb(130, 191, 241);
    border-radius: 50%;
    border: 2px solid rgb(62, 109, 212);
    padding: 0.6rem;
}

.Arctic {
    background-color: rgb(167, 198, 224);
    border: 2px solid rgb(61, 77, 110);
}

.Forest {
    background-color: rgb(110, 212, 51);
    border: 2px solid rgb(37, 161, 75);
}

.Jungle {
    background-color: rgb(23, 102, 40);
    border: 2px solid rgb(10, 53, 47);
}

.Ocean {}

.Desert {
    background-color: rgb(145, 167, 66);
    border: 2px solid rgb(84, 100, 13);
}

.Ocean>i {

    color: rgb(13, 68, 87);
}

.Forest>i {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    color: rgb(71, 173, 40);
}

.Jungle>i {

    color: rgb(45, 75, 11);
}

.Arctic>i {

    color: rgb(4, 83, 109);
}

.Desert>i {

    color: rgb(155, 187, 39);
}

.pagenation {
    margin-top: 2rem;
    margin-bottom: 0 !important;

}

.pagenation>* {
    margin-bottom: 0 !important;
    width: 100%;
    display: flex;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

.animals_panel {}

/*ADD ANIMAL CSS*/
.addAnimalFixed {
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(23, 150, 34);
    padding: 4rem;
    border-radius: 10px;
    color: white;
    max-height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 0 0 50px rgb(7, 7, 7);
}

.addAnimalFixed>form>h3 {
    position: relative;
    bottom: 20px;
}

.addAnimalFixed>form>* {
    padding: 3px 5px;
}

.addAnimalFixed::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.addAnimalFixed {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.closebtn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

.animal-photos {
    width: 5rem;
}

/* ANIMAL VIEW PAGE */
.animal-main {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    /* justify-content: center; */
    flex-wrap: wrap;

    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 2rem;

    height: auto;
    min-height: 80vh;
    /* max-height: 80vh; */
    width: 65%;
    margin-top: 7rem;

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    z-index: 9;
    
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.animal-main::-webkit-scrollbar {
    width: 10px;
}
.animal-main::-webkit-scrollbar-thumb {
    border-radius: 60px;
}

.animal-info-container {
    width: 60%;
    text-align: left;
    padding-bottom: 1.6rem;
}

.animal-info-container div {
    margin-bottom: 0.6rem;
}

.animal-info-container h1 {
    margin-bottom: 1.2rem;
}

.animal-info-container h4 {
    display: inline;
    margin-left: 0.2rem;
}

.animal-img-container {
    width: 40%;
    overflow: visible;
    height: 280px;

    display: flex;
    justify-content: center;
}

.animal-img {
    overflow: hidden;

    width: fit-content;
    height: inherit;
}

.animal-img-container img {
    height: inherit;
    max-width: inherit;
    object-fit: contain;
}

.animal-desc-container {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    padding: 2rem 2rem 0 0;
}

@media only screen and (max-width: 450px) {
    .animal-main {
        width: 100%;
    }

    .animal-info-container {
        width: 100%;
    }

    .animal-img-container {
        width: 100%;
    }
}

@media only screen and (min-width: 450px) and (max-width: 750px) {
    .animal-main {
        width: 100%;
    }
}

/* Handling Habitat Dynamic Changes */
/* FOREST */
.forest::-webkit-scrollbar-thumb {
    background: rgba(14, 55, 0, 0.666);
}

.forest::-webkit-scrollbar-thumb:hover {
    background: rgba(17, 85, 12, 0.666);
} 

.forest #forest {
    color:rgb(17, 163, 61);
}
.forest .animal-img {
    box-shadow: 0 0 20px 0 rgb(8, 41, 0);
}
.forest h1 {
    text-shadow: 0 0 25px rgb(59, 215, 20);
}

/* OCEAN */
.ocean::-webkit-scrollbar-thumb {
    background: rgba(0, 17, 55, 0.666);
}

.ocean::-webkit-scrollbar-thumb:hover {
    background: rgba(7, 41, 93, 0.666);
} 

.ocean #ocean {
    color:rgb(20, 98, 215);
}
.ocean .animal-img {
    box-shadow: 0 0 20px 0 rgb(0, 25, 41);
}
.ocean h1 {
    text-shadow: 0 0 25px rgb(26, 146, 244);
}

/* JUNGLE */
.jungle::-webkit-scrollbar-thumb {
    background: rgba(50, 61, 0, 0.666);
}

.jungle::-webkit-scrollbar-thumb:hover {
    background: rgba(119, 149, 8, 0.666);
} 

.jungle #jungle {
    color:rgb(152, 166, 0);
}
.jungle .animal-img {
    box-shadow: 0 0 20px 0 rgb(35, 41, 0);
}
.jungle h1 {
    text-shadow: 0 0 25px rgb(191, 229, 23);
}

/* DESERT */
.desert::-webkit-scrollbar-thumb {
    background: rgba(61, 52, 0, 0.666);
}

.desert::-webkit-scrollbar-thumb:hover {
    background: rgba(149, 137, 8, 0.666);
} 

.desert #desert {
    color:rgb(166, 144, 0);
}
.desert .animal-img {
    box-shadow: 0 0 20px 0 rgb(49, 45, 0);
}
.desert h1 {
    text-shadow: 0 0 25px rgb(255, 229, 29);
}

/* ARCTIC */
.arctic::-webkit-scrollbar-thumb {
    background: rgba(92, 113, 113, 0.666);
}

.arctic::-webkit-scrollbar-thumb:hover {
    background: rgba(177, 255, 255, 0.666);
} 

.arctic #arctic {
    color:rgb(9, 185, 192);
}
.arctic .animal-img {
    box-shadow: 0 0 20px 0 rgb(102, 126, 129);
}
.arctic h1 {
    text-shadow: 0 0 25px rgb(123, 240, 255);
}