* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* color: red; */
}

.panel {
    width: 100%;
    height: 100vh;
    background-image: url('./media/tiger.jpg');
    background-position: center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    /* justify-content: center; */
}


.nav {
    background-color: #76745a54;
    width: 100%;
    height: 8vh;

    filter: drop-shadow(0px 10px 3px rgba(54, 54, 54, 0.452));

    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding-left: 3rem; */

    padding: 0 5rem;

    transition: ease-in-out 0.2s;
    user-select: none;
}

.nav:hover {
    background-color: #76745A;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.nav-item {
    color: white;
    font-size: 1.3rem;
    padding: 0 1rem;
}

.nav-item:hover {
    color: #695a29;
    font-weight: bold;
}

.nav-item a:hover {
    color: #695a29;
    font-weight: bold;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

#logo {
    width: 13.5%;
    position: absolute;
    left: 125px;
    top: -30px;
}

.panel:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset 0px 0px 150px black;
}

.main-content {
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: white;
    font-size: 2rem;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

.main-content>pre {
    color: gold;
}

.inner-panel>.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-panel {
    width: 100%;
    height: 90vh;
    display: flex;
}

.left,
.right {
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons>input {
    border: 1px solid gold;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    color: white;
    text-shadow: 1px 1px 3px black;

}

#animals-button {
    background-color: goldenrod;
}

#animals-button:hover {
    transition: ease-in-out 0.2s;
    background-color: #282c28;
}

#ticket-button {
    background-color: #282c28;
}

#ticket-button:hover {
    transition: ease-in-out 0.1s;
    background-color: goldenrod;
}

#signup-overlay {
    display: flex;
}

#login-overlay {
    display: none;
    height: 40vh;
}

#account-overlay {
    height: 50vh;
}

#update-name-overlay {
    display: none;
}

#update-email-overlay {
    display: none;
}

#update-pass-overlay {
    display: none;
}

#register-new-overlay {
    display: none;
}

.form-overlay {
    box-sizing: unset;
    color: aliceblue;
    width: 50%;
    height: 70vh;
    background-color: #282c289c;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3rem;
    font-size: 1.35rem;
}

.form-overlay p {
    margin-top: 1rem;
    margin-bottom: 0px;
}

.form-overlay input {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: flex;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

.signup-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-button {
    margin: 1rem 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(226,176,42, 0.2);
    transition: 0.4s;
    color: white;
    background-color: rgb(192,138,20);
}

.signup-button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(226,176,42, 0.6);
    background-color: rgba(226,176,42, 1);
}

#login-link {
    font-size: 0.9rem;
    color: rgb(226,176,42);
    
    transition: all 0.1s ease-in-out;
}

#login-link:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    font-size: 0.9rem;
    text-shadow: 0px 0px 10px orange;
}

.account-details {
    text-align: center;
    margin-bottom: 20px;
}

#changepass-container {
    margin-top: 20px;
}
#changepass-link {
    font-size: 0.9rem;
    color: rgb(213, 59, 7);
    font-weight: bold;

    transition: all 0.2s ease-in-out;
}
#changepass-link:hover {
    cursor: pointer;
    text-decoration: underline;
    text-shadow: 0px 0px 10px red;
    font-size: 1rem;
}

.edit-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    width: 30px;
    height: 2rem;
    padding: 0;
    box-shadow: 0 0 10px rgba(22, 141, 22, 0.2);
    transition: 0.4s;
    color: white;
    background-color: rgb(18, 137, 53);
}
.red-btn {
    box-shadow: 0 0 10px rgba(184, 18, 18, 0.2);
    background-color: rgb(202, 39, 17);
}

.edit-btn:hover {
    box-shadow: 0 0 15px rgba(51, 220, 14, 0.6);
    background-color: rgb(33, 194, 19);
}
.red-btn:hover{
    box-shadow: 0 0 15px rgba(255, 45, 45, 0.589);
    background-color: rgb(255, 35, 35);
}

.exception-overlay {
    box-sizing: border-box;
    color: aliceblue;
    width: 40%;
    height: 20vh;
    background-color: #282c289c;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    padding: 1rem;
    font-size: 1.35rem;
    text-align: center;
}

.exception-icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    
    color: rgb(226,176,42);
    text-shadow: 0px 0px 15px red;
}

.success-icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    
    color: rgb(38, 198, 27);
    text-shadow: 0px 0px 20px gold;
}

.fullname-field {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fullname-field input {
    max-width: 140px;
}

#power-field input {
    display: inline;

    max-width: 50px;
    text-align: left;
}

/* Habitat Map CSS Code */

@media screen and (min-width: 1303px) {
    .imgTop{
        flex-wrap: wrap;
        margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;   
        height: 350px;
    }
    .imgBot{
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        bottom: 40px;
    }
    .habitatMap_innerPannel{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        align-items: center;
        height: 92vh;
    }
    .habitatMap{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .panelHabitatMap {
        width: 100%;
    }
    .image{
        width: 300px;
        transition: all .2s ease-in-out;
    }
    .image:hover{
        transform: scale(1.1);
    }
    .jungle{
        align-self: flex-end;
    }
    #waterHabitat, #iceHabitat{
        align-self: flex-start;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media only screen and (min-width: 855px) and (max-width: 1303px) {
    .imgTop{
        flex-wrap: wrap;
        margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;   
    }
    .imgBot{
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        /* bottom: 40px; */
    }
    .habitatMap_innerPannel{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        align-items: center;                      
    }
    .habitatMap{
        display: flex;
        justify-content: center;
    }
    .panelHabitatMap {
        width: 100%;
        height: fit-content;
    }
    .image{
        width: 300px;
        transition: all .2s ease-in-out;
    }
    .image:hover{
        transform: scale(1.1);
    }
    .jungle{
        align-self: flex-end;
    }
    #waterHabitat, #iceHabitat{
        align-self: flex-start;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
 }

 @media screen and (max-width: 854px) {
    .imgTop{
        flex-wrap: wrap;
        margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;   
    }
    .imgBot{
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        /* bottom: 40px; */
    }
    .habitatMap_innerPannel{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        align-items: center;                      
    }
    .habitatMap{
        display: flex;
        justify-content: center;
    }
    .panelHabitatMap {
        width: 100%;
        height: fit-content;
    }
    .image{
        width: 300px;
        transition: all .2s ease-in-out;
    }
    .image:hover{
        transform: scale(1.1);
    }
    .jungle{
        align-self: flex-end;
    }
    #waterHabitat, #iceHabitat{
        align-self: flex-start;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}

.main {
    /* color:  red; */
    background-color: rgba(255, 255, 255, .15);
  
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    padding: 2rem;
    
    width: 50%;
    margin-top: 3rem;
    /* justify-self: center; */
}



.animals_panel {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

/*ANIMALS PAGE CSS.*/
.animals-inner-panel{
    /* border-radius: 10px; */
    width: 80%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
.search-bar{
    border-bottom: 1px solid rgb(100, 99, 99);
    box-shadow: 5px 0px 8px #747974;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 10px;
}
.search-bar>*{
    margin-left: 20px;
    margin-right: 20px;
}
.admin-results {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.admin-animal{
    width: 90%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid aliceblue;
    border-radius: 10px;
    padding: 2rem 2rem;
    background-color: white;
}
.admin-animal-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-animal-left>*{
    margin-left: 1.5rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.admin-animal-left button{
    margin-left: 0.5rem;
    font-weight: bold;
}
.admin-habitat-icon {
    font-size: 1.7rem;
    background-color: rgb(130, 191, 241);
    border-radius: 50%;
    border: 2px solid rgb(62, 109, 212);
    padding: 0.6rem;
}
.Arctic{
    background-color: rgb(167, 198, 224);
    border: 2px solid rgb(61, 77, 110);
}
.Forest{
    background-color: rgb(110, 212, 51);
    border: 2px solid rgb(37, 161, 75);
}
.Jungle{
    background-color: rgb(23, 102, 40);
    border: 2px solid rgb(10, 53, 47);
}
.Ocean{
    
}
.Desert{
    background-color: rgb(145, 167, 66);
    border: 2px solid rgb(84, 100, 13);
}
.Ocean>i {
    
    color: rgb(13, 68, 87);
}
.Forest>i {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    color: rgb(71, 173, 40);
}
.Jungle>i {
    
    color: rgb(45, 75, 11);
}
.Arctic>i {
    
    color: rgb(4, 83, 109);
}
.Desert>i {
    
    color: rgb(155, 187, 39);
}
.pagenation{
    margin-top: 2rem;
    margin-bottom: 0 !important;
    
}
.pagenation>*{
    margin-bottom: 0 !important;
    width: 100%;
    display: flex;
    justify-content: center;
}
html{
    scroll-behavior: smooth;
}